:root {
	--video-background-overlay-opacity: 0.2;
}
body {
	overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* IE 10+ */
	font-family: 'EB Garamond', serif;
	line-height: 1.5;
	font-size: 20px;
}



body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

#video-background {
	position: absolute;
  	z-index: -1;
 	min-width:100%;
  	min-height:100%;
}


#video-background-container {
	z-index: 1;
	position: relative;
}

.jumbotron-fluid .container {
	z-index: 2;
	height: 100vmin;
	width: 100%;
	color: white !important;
}

.jumbotron-fluid .container img {
	width: 120px;
}

.jumbotron-fluid nav {
	position: fixed;
	width: 100%;
	height: 6.2em;
	color: black !important
}

#yip-man-headshot {
	padding-left: 12em;
	padding-right: 12em;
}

.side-dragons {
	width: 200px;
}

#ip-man-in-media {
	background: rgb(255, 192, 100);
}

#books-container {
	background: rgb(255, 222, 100);
	line-height: 1.5;
}

.book {
	border: 1px red solid;
}



.book-title {
	font-style: italic;
}

h6 {
	font-size: 1.5em;
}
/* #master-movie-container {
	background: rgb(98, 162, 224);
} */

.movie-container:hover {
	transition: 0.5s ease-in;
	transform: scale(1.1);

}


#more-about-him {
	background: rgb(123, 108, 228);
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold !important;
}

.shrink {
	transition-delay: 1s;
	background: rgb(255,255,153) !important;
	transition: background 1s;
	height: 3em !important;
	transition: height 1s;
}

